<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jdbc:embedded-database id="vacationDataSource" type="H2">
        <jdbc:script location="classpath:sql/vacation.sql"/>
    </jdbc:embedded-database>
    <jdbc:embedded-database id="loginDataSource" type="H2">
        <jdbc:script location="classpath:sql/login.sql"/>
    </jdbc:embedded-database>
    <bean id="vacationSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="vacationDataSource"/>
        <property name="mapperLocations" value="classpath*:sqlmap/**/*.xml"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
    </bean>
    <bean id="loginSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="loginDataSource"/>
        <property name="mapperLocations" value="classpath*:sqlmap/**/*.xml"/>
        <property name="configLocation" value="classpath:/mybatis-config.xml"/>
    </bean>
</beans>
